@page "/"

<PageTitle>Sunnyside Agency</PageTitle>

<section class="transform">
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="./images/desktop/image-transform.jpg" />
        <img src="./images/mobile/image-transform.jpg" />
    </picture>
    <div>
        <h2 class="transform__heading">Transform your brand</h2>
        <p class="transform__text">
            We are a full-service creative agency specializing in helping brands grow fast.
            Engage your clients through compelling visuals that do most of the marketing for you.
        </p>
        <a href="#" class="transform__learn-more learn-more-link">Learn more</a>
    </div>
</section>

<section class="stand-out">
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="images/desktop/image-stand-out.jpg" />
        <img src="images/mobile/image-stand-out.jpg" />
    </picture>
    <div>
        <h2 class="stand-out__heading">Stand out to the right audience</h2>
        <p class="stand-out__text">
            Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.
        </p>
        <a href="#" class="stand-out__learn-more learn-more-link">Learn more</a>
    </div>
</section>

<section class="grapic-design">
    <h2 class="grapic-design__header">Graphic design</h2>
    <p class="grapic-design__text">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
</section>

<section class="photography">
    <h2 class="photography__header">Photography</h2>
    <p class="photography__text">Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
</section>

<section class="client-testimonials">
    <h1 class="client-testimonials__heading">Client testimonials</h1>

    <article class="client-testimonials__artical">
        <img class="client-testimonials__image" src="./images/image-emily.jpg" alt="emily" width="144" height="144" />
        <p class="client-testimonials__artical-text">
            We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.
        </p>
        <div>
            <p class="client-testimonials__artical-name">
                Emmily R.
            </p>
            <p class="client-testimonials__artical-jobb">
                Marketing Director
            </p>
        </div>
    </article>

    <article class="client-testimonials__artical">
        <img class="client-testimonials__image" src="./images/image-thomas.jpg" alt="thomas" width="144" height="144" />
        <p class="client-testimonials__artical-text">
            Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
        </p>
        <div>
            <p class="client-testimonials__artical-name">
                Thomas S.
            </p>
            <p class="client-testimonials__artical-jobb">
                Chief Operating Officer
            </p>
        </div>
    </article>

    <article class="client-testimonials__artical">
        <img class="client-testimonials__image" src="./images/image-jennie.jpg" alt="emily" width="144" height="144" />
        <p class="client-testimonials__artical-text">
            Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!
        </p>
        <div>
            <p class="client-testimonials__artical-name">
                Jennie F.
            </p>
            <p class="client-testimonials__artical-jobb">
                Business Owner
            </p>
        </div>
    </article>
</section>

<section class="gallery">
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="images/desktop/image-gallery-milkbottles.jpg" />
        <img src="images/mobile/image-gallery-milkbottles.jpg" />
    </picture>
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="images/desktop/image-gallery-orange.jpg" />
        <img src="images/mobile/image-gallery-orange.jpg" />
    </picture>
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="images/desktop/image-gallery-cone.jpg" />
        <img src="images/mobile/image-gallery-cone.jpg" />
    </picture>
    <picture>
        <source media="(min-width: @(minWidth)px)" srcset="images/desktop/image-gallery-sugarcubes.jpg" />
        <img src="images/mobile/image-gallery-sugar-cubes.jpg" />
    </picture>
</section>

@code {
    private int minWidth = 720;
}